
:root {
	--col-primary: #606EEC;
	--col-bg-gray: #F3F5FC;
}

.bg-light {
	background-color: var(--col-bg-gray);
}

.bg-primary {
	background-color: var(--col-primary);
}

.text-white {
	color: white;
}

* {
	outline: none;
}

/*  */

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 30px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	background-color: var(--col-bg-gray)!important;
}

.content-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: var(--col-primary);
	width: 100%;
	border-radius: 25px;
	padding: 80px;
	margin-left: 40px;
}

a {
	text-decoration: none!important;
	color: var(--col-primary);
	opacity: .6;
	position: relative;
	font-size: 18px;
	height: 44px;
}

a:hover {
	opacity: .8;
}

a:active, a[aria-current] {
	opacity: 1;
	font-weight: bold;
}

a::after {
	content: '';
	position: absolute;
	width: 32px;
	height: 2px;
	border-radius: 50px;
	overflow: hidden;
	background-color: var(--col-primary);
	left: 50%;
	top: 60%;
	transform: translateX(-50%) rotateY(90deg) ;
	transition: transform 0.2s ease, opacity 0.3s ease;
}

a:hover::after {
	transform: translateX(-50%) rotateY(0);
}

a[aria-current]::after{
	transform: translateX(-50%) rotateY(0deg);
}

.label {
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 17px;
	letter-spacing: 0.085em;
	text-align: left;
}